.row{
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

.row{
   
    .col{
        
        @include screen-size(small);
        @include screen-size(medium);
        @include screen-size(large);
        @include screen-size(extra-lg);
    }

}