@mixin margin-center(){
    margin: 0 auto;
}

/*******************************/
@mixin create-grid(){
    @for $i from 1 through $grid-base {
        &-#{$i} { width: ($i/12)*100% } 
    }
}

@mixin grid-media($breakpoint){
    @media screen and (min-width:$breakpoint){
        @include create-grid();
    }
}

@mixin screen-size($screen){
    @if $screen == 'small' {
        &-#{$screen}{
            @include grid-media(0px);
        }
    }@else if $screen == 'medium' {
        &-#{$screen}{
            @include grid-media(768px);
        }
    }@else if $screen == 'large' {
        &-#{$screen}{
            @include grid-media(992px);
        }
    }@else if $screen == 'extra-large' {
        &-#{$screen}{
            @include grid-media(1200px);
        }
    }
}
/*******************************/

@mixin container{
    width: $general-container-width;
    @include margin-center();
}

/**********************************/

@mixin lexi-section($img-url){
    &-container{
        @include container();
        margin-bottom: 140px;
        &-img{
            width: 50%;
            height: 500px;
            background-image: url($img-url);
            background-size: cover;
            background-position: center;
        }

        &-msg{
            text-align: right;
            width: 40%;
            margin-left: 10%;
            padding-left: 20px;
            line-height: 2.5rem;

            h1{
                font-size: 1.3rem; 
                margin-bottom: 20px;
            }

            h2{
                font-size: 3.8rem;
                margin-bottom: 40px;
                font-weight: bold;
                line-height: 3.4rem;
                color: $lexi-ds-green-1;
            }
              
            p{
                width: 100%;
                margin-right: 0;
                line-height: 2rem;
                font-size: 1.1rem;
                text-align: right;
            }
        }

    }
}