@import './reset';
@import './_variables';
@import './mixins';
@import './grid';

//sass --watch assets/styles/scss/base.scss assets/styles/main.css

*, *::after, *::before{
    box-sizing: border-box;    
}
//

body{
    font-family: $main-font;
 
}

.flexcontainer{
    display: flex;
}

.clearfix::after{
    
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

.center-center{
    justify-content: center;
    align-items: center;
}


header{
    height:$header-height;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    @include margin-center;
    margin-bottom: 60px;
    @media screen and (min-width:768px){
        padding: 0;
        margin-top: 30px;
        margin-bottom: 60px;
        width: $header-width; 
        max-width: $max-width;
        box-shadow: none;
    }
    justify-content: space-between;

    .header-logo{
        justify-content: flex-start;
        height: 100%;
        width: $header-logo-width-container;
        img{
            height: 100%;
            width: 100%;
        }   
    }

}

.main-header{
    &-ham-menu{
        @media screen and (min-width:768px){
            display: none;
        }
        display: flex;
        order: 4;
        align-items: center;
        justify-content: center;
        & img {
            width: 40px;
            height: 40px;
        }
    }

}

.main-header-links{
    height: 100%;
    display: none;
    @media screen and (min-width:768px){
        display: flex;
    }

    .active-link{
        color: rgb(39, 0, 146);
        font-weight: bold;
    }

    li{
        margin-right: 30px;
        margin-left: 30px;
        
        &:last-child{
            margin-right: 0;
        }

        &:first-child{
            margin-left: 0;
        }
    }
    
    a{
        text-decoration: none;
        color: black;
    }
}


 
.lan-header-links{
    height: 100%;
    align-items: center;
    display: none;
    @media screen and (min-width:768px){
        display: flex;
        
    }
}


/*LEXI BRAND CONTAINER*/



.lexi-brand{
    width: 33.33%;
    padding: 30px;
    text-align: center;

    &:hover{
        cursor: pointer;
    }

    &-container{
        width: 100%;
        max-width: 1600px;
        margin: 140px auto;
        margin-bottom: 160px;
        display: none;
        
        @media screen and (min-width:768px){
            display: flex;
        }
    }

    &-img{
        width: 100%;
        margin-bottom: 50px;
        min-height: 190px;
        img{
            width: 100%;
            height: 145px;
            min-height: 145px;
        }
    }

    &:nth-child(2) .lexi-brand-img img{
        height: 190px;
        min-height: 190px;
    }

    &:nth-child(3) .lexi-brand-img img{
        height: 165px;
        min-height: 165px;
    }

    

}
////

/*FOOTER */

footer{
    width: 100%;

    height: 50px;
    background-color: $lexi-ds-green-1;
    clear: both;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #f2f8f3;
}

/*LEXI TITLE*/

.lexi-title{
    clear: both;
    width: 400px;
    height: 70px;
    background-color: $lexi-ds-green-2;
    color: $lexi-ds-white;
    margin-top: 140px;
    margin-bottom: 100px;
    align-items: center;
    padding-left: (100% - $general-container-width)/2;
    h1{
        font-size: 2rem;
        display: inline-block;
    }
}

/*LEXI TITLE END*/

/*NOSOTROS*/

.nosotros{
    @include lexi-section($nosotros-img-url);  
}

/*SERVICIOS*/
.servicios{
    @include lexi-section($servicios-img-url);
}

/*SERV-DESC*/

.serv-desc{
    @include container;
    margin-bottom: 100px;
    max-width: 992px;
    
    padding-top: 100px;
    
    border-top: 1px solid rgba(161, 161, 161, 0.445);
    &-text{

     
        position: relative;
        *{
            margin-bottom: 20px;
        }

        h1{
            font-size: 1rem;
            
        }

        h1+h1{
            font-size: 3rem;
            font-weight: bold;
            padding-right: 5%;
        }

        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding-right: 40%;
        }

        .btn{
            font-size:1.2rem;
            padding: 15px;
            border: none;
            color: $lexi-u-white;
            border-radius: 15px;
            
            margin-bottom: 0;
            &-dbs{
                background-color: $lexi-ds-green-1;
            }
            &-bi{
                background-color: $lexi-bi-blue;
            }
            &-lu{
                background-color: $lexi-u-red;
            }
        }



    }

    &-img{
        display: flex;
        align-items: center;
        img{
            max-height: 300px;
            width: 100%;
        }

        &-dbs{
            margin-top: 50px;
            padding: 5% 10% 
        }

        &-bi{
            margin-top: 50px;
            padding: 5% 10% 
        }

        &-lu{
            margin-top: 50px;
            padding: 5% 10% 
        }  

        @media screen and (min-width:768px){
            &-dbs{
                padding-left: 5%;
                padding-right: 10%; 
                padding-top: 0;
                padding-bottom: 0; 
                margin-top: 0;
            }
    
            &-bi{
                padding-top: 0;
                padding-bottom: 0; 
                padding-left: 5%;
                padding-right: 35%; 
                margin-top: 0;
            }
    
            &-lu{
                padding-top: 0;
                padding-bottom: 0; 
                padding-left: 5%;
                padding-right: 26%; 
                margin-top: 0;
            }   
        }

       

        
    }


}

/*CONTACTO*/






