@import './reset';
@import './_variables';
@import './mixins';
@import './grid';
@import './components/_header';
@import './components/_cover';
@import './components/_section';
@import './components/_services';
@import './components/_footer';

//sass --watch assets/styles/scss/base.scss assets/styles/main.css

*, *::after, *::before{
    box-sizing: border-box;    
}
//

body{
    font-family: $main-font;
 
}

.flexcontainer{
    display: flex;
}

.clearfix::after{
    
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

.center-center{
    justify-content: center;
    align-items: center;
}






