.serv-desc{
    @include container;
    margin-bottom: 100px;
    max-width: 992px;
    
    padding-top: 100px;
    
    border-top: 1px solid rgba(161, 161, 161, 0.445);
    &-text{

     
        position: relative;
        *{
            margin-bottom: 20px;
        }

        h1{
            font-size: 1rem;
            
        }

        h1+h1{
            font-size: 3rem;
            font-weight: bold;
            padding-right: 5%;
        }

        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding-right: 40%;
        }

        .btn{
            font-size:1.2rem;
            padding: 15px;
            border: none;
            color: $lexi-u-white;
            border-radius: 15px;
            
            margin-bottom: 0;
            &-dbs{
                background-color: $lexi-ds-green-1;
            }
            &-bi{
                background-color: $lexi-bi-blue;
            }
            &-lu{
                background-color: $lexi-u-red;
            }
        }



    }

    &-img{
        display: flex;
        align-items: center;
        img{
            max-height: 300px;
            width: 100%;
        }

        &-dbs{
            margin-top: 50px;
            padding: 5% 10% 
        }

        &-bi{
            margin-top: 50px;
            padding: 5% 10% 
        }

        &-lu{
            margin-top: 50px;
            padding: 5% 10% 
        }  

        @media screen and (min-width:768px){
            &-dbs{
                padding-left: 5%;
                padding-right: 10%; 
                padding-top: 0;
                padding-bottom: 0; 
                margin-top: 0;
            }
    
            &-bi{
                padding-top: 0;
                padding-bottom: 0; 
                padding-left: 5%;
                padding-right: 35%; 
                margin-top: 0;
            }
    
            &-lu{
                padding-top: 0;
                padding-bottom: 0; 
                padding-left: 5%;
                padding-right: 26%; 
                margin-top: 0;
            }   
        }
    }
}