/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*IMG's*/
/*PALETTE*/
/*******************************/
/*******************************/
/**********************************/
.row {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
  .row .col-small-1 {
    width: 8.3333333333%;
  }
  .row .col-small-2 {
    width: 16.6666666667%;
  }
  .row .col-small-3 {
    width: 25%;
  }
  .row .col-small-4 {
    width: 33.3333333333%;
  }
  .row .col-small-5 {
    width: 41.6666666667%;
  }
  .row .col-small-6 {
    width: 50%;
  }
  .row .col-small-7 {
    width: 58.3333333333%;
  }
  .row .col-small-8 {
    width: 66.6666666667%;
  }
  .row .col-small-9 {
    width: 75%;
  }
  .row .col-small-10 {
    width: 83.3333333333%;
  }
  .row .col-small-11 {
    width: 91.6666666667%;
  }
  .row .col-small-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .row .col-medium-1 {
    width: 8.3333333333%;
  }
  .row .col-medium-2 {
    width: 16.6666666667%;
  }
  .row .col-medium-3 {
    width: 25%;
  }
  .row .col-medium-4 {
    width: 33.3333333333%;
  }
  .row .col-medium-5 {
    width: 41.6666666667%;
  }
  .row .col-medium-6 {
    width: 50%;
  }
  .row .col-medium-7 {
    width: 58.3333333333%;
  }
  .row .col-medium-8 {
    width: 66.6666666667%;
  }
  .row .col-medium-9 {
    width: 75%;
  }
  .row .col-medium-10 {
    width: 83.3333333333%;
  }
  .row .col-medium-11 {
    width: 91.6666666667%;
  }
  .row .col-medium-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .row .col-large-1 {
    width: 8.3333333333%;
  }
  .row .col-large-2 {
    width: 16.6666666667%;
  }
  .row .col-large-3 {
    width: 25%;
  }
  .row .col-large-4 {
    width: 33.3333333333%;
  }
  .row .col-large-5 {
    width: 41.6666666667%;
  }
  .row .col-large-6 {
    width: 50%;
  }
  .row .col-large-7 {
    width: 58.3333333333%;
  }
  .row .col-large-8 {
    width: 66.6666666667%;
  }
  .row .col-large-9 {
    width: 75%;
  }
  .row .col-large-10 {
    width: 83.3333333333%;
  }
  .row .col-large-11 {
    width: 91.6666666667%;
  }
  .row .col-large-12 {
    width: 100%;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.flexcontainer {
  display: flex;
}

.clearfix::after::after {
  content: "";
  display: table;
  clear: both;
}

.center-center {
  justify-content: center;
  align-items: center;
}

header {
  height: 80px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 60px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  header {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 80%;
    max-width: 1080px;
    box-shadow: none;
  }
}
header .header-logo {
  justify-content: flex-start;
  height: 100%;
  width: 90px;
}
header .header-logo img {
  height: 100%;
  width: 100%;
}

.main-header-ham-menu {
  display: flex;
  order: 4;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .main-header-ham-menu {
    display: none;
  }
}
.main-header-ham-menu img {
  width: 40px;
  height: 40px;
}

.main-header-links {
  height: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  .main-header-links {
    display: flex;
  }
}
.main-header-links .active-link {
  color: #270092;
  font-weight: bold;
}
.main-header-links li {
  margin-right: 30px;
  margin-left: 30px;
}
.main-header-links li:last-child {
  margin-right: 0;
}
.main-header-links li:first-child {
  margin-left: 0;
}
.main-header-links a {
  text-decoration: none;
  color: black;
}

.lan-header-links {
  height: 100%;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .lan-header-links {
    display: flex;
  }
}

/*LEXI BRAND CONTAINER*/
.lexi-brand {
  width: 33.33%;
  padding: 30px;
  text-align: center;
}
.lexi-brand:hover {
  cursor: pointer;
}
.lexi-brand-container {
  width: 100%;
  max-width: 1600px;
  margin: 140px auto;
  margin-bottom: 160px;
  display: none;
}
@media screen and (min-width: 768px) {
  .lexi-brand-container {
    display: flex;
  }
}
.lexi-brand-img {
  width: 100%;
  margin-bottom: 50px;
  min-height: 190px;
}
.lexi-brand-img img {
  width: 100%;
  height: 145px;
  min-height: 145px;
}
.lexi-brand:nth-child(2) .lexi-brand-img img {
  height: 190px;
  min-height: 190px;
}
.lexi-brand:nth-child(3) .lexi-brand-img img {
  height: 165px;
  min-height: 165px;
}

/*FOOTER */
footer {
  width: 100%;
  height: 50px;
  background-color: #004f58;
  clear: both;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #f2f8f3;
}

/*LEXI TITLE*/
.lexi-title {
  clear: both;
  width: 400px;
  height: 70px;
  background-color: #00a8a8;
  color: #f2f8f3;
  margin-top: 140px;
  margin-bottom: 100px;
  align-items: center;
  padding-left: 10%;
}
.lexi-title h1 {
  font-size: 2rem;
  display: inline-block;
}

/*LEXI TITLE END*/
/*NOSOTROS*/
.nosotros-container {
  width: 100%;
  flex-wrap: wrap;
  max-width: 992px;
  margin-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .nosotros-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 140px;
  }
}
.nosotros-container-img {
  min-width: 100%;
  height: 500px;
  background-image: url("http://www.kjellandersjoberg.se/wp-content/uploads/2016/08/KjellanderSjoberg_Team_%C2%A9MikaelOlsson-1200x775.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .nosotros-container-img {
    min-width: 50%;
    order: 0;
  }
}
.nosotros-container-msg {
  text-align: left;
  min-width: 100%;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .nosotros-container-msg {
    order: 1;
    width: 45%;
    margin-left: 5%;
    min-width: 45%;
    padding-left: 20px;
    text-align: right;
  }
}
.nosotros-container-msg h1 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.nosotros-container-msg h2 {
  font-size: 3.8rem;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 3.4rem;
  color: #004f58;
}
.nosotros-container-msg p {
  width: 100%;
  margin-right: 0;
  line-height: 2rem;
  font-size: 1.1rem;
}

/*SERVICIOS*/
.servicios-container {
  width: 100%;
  flex-wrap: wrap;
  max-width: 992px;
  margin-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .servicios-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 140px;
  }
}
.servicios-container-img {
  min-width: 100%;
  height: 500px;
  background-image: url("https://www.jbistudios.com/hs-fs/hubfs/Blog_Images/lip-sync-dubbing-voice-talent-in-studio-video-translation.jpg?width=640&name=lip-sync-dubbing-voice-talent-in-studio-video-translation.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .servicios-container-img {
    min-width: 50%;
    order: 0;
  }
}
.servicios-container-msg {
  text-align: left;
  min-width: 100%;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .servicios-container-msg {
    order: 1;
    width: 45%;
    margin-left: 5%;
    min-width: 45%;
    padding-left: 20px;
    text-align: right;
  }
}
.servicios-container-msg h1 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.servicios-container-msg h2 {
  font-size: 3.8rem;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 3.4rem;
  color: #004f58;
}
.servicios-container-msg p {
  width: 100%;
  margin-right: 0;
  line-height: 2rem;
  font-size: 1.1rem;
}

/*SERV-DESC*/
.serv-desc {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 140px;
  max-width: 992px;
}
.serv-desc-text {
  min-height: 350px;
  position: relative;
}
.serv-desc-text * {
  margin-bottom: 20px;
}
.serv-desc-text h1 {
  font-size: 1rem;
}
.serv-desc-text h1 + h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-right: 5%;
}
.serv-desc-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-right: 40%;
}
.serv-desc-text .btn {
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  color: #f6f6fb;
  border-radius: 15px;
  margin-bottom: 0;
}
.serv-desc-text .btn-dbs {
  background-color: #004f58;
}
.serv-desc-text .btn-bi {
  background-color: #546e92;
}
.serv-desc-text .btn-lu {
  background-color: #c23241;
}
.serv-desc-img img {
  max-height: 300px;
  width: 100%;
}
.serv-desc-img-dbs {
  padding-left: 5%;
  padding-right: 10%;
}
.serv-desc-img-bi {
  padding-left: 5%;
  padding-right: 35%;
}
.serv-desc-img-lu {
  padding-left: 5%;
  padding-right: 26%;
}

/*CONTACTO*/

/*# sourceMappingURL=main.css.map */
